# Task 1

Task 1: Build a learning agent that predict the CO2
emission from vehicles using Artificial neural
network.

- Download the dataset from https://www.kaggle.com/datasets/sarita19/fuel-consumption
- The target feature is CO2 emission and ignore the unnecessary features from the dataset.
- Construct an artificial neural network by considering the input and output
requirements.
- Identify a suitable metric and evaluate the model.

In [12]:
! pip install -Uqq fastai nbdev

     |████████████████████████████████| 49 kB 3.9 MB/s
     |████████████████████████████████| 561 kB 15.9 MB/s
     |████████████████████████████████| 53 kB 2.5 MB/s
     |████████████████████████████████| 133 kB 61.2 MB/s
     |████████████████████████████████| 130 kB 72.9 MB/s
     |████████████████████████████████| 428 kB 50.3 MB/s
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
google-colab 1.0.0 requires tornado~=5.1.0; python_version >= "3.0", but you have tornado 6.1 which is incompatible.
flask 1.1.4 requires Jinja2<3.0,>=2.10.1, but you have jinja2 3.0.3 which is incompatible.
datascience 0.10.6 requires folium==0.2.1, but you have folium 0.8.3 which is incompatible.

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("https://raw.githubusercontent.com/kurianbenoy/DataminingLab/master/FuelConsumption.csv")
df.head()

,MODELYEAR,MAKE,MODEL,VEHICLECLASS,ENGINESIZE,CYLINDERS,TRANSMISSION,FUELTYPE,FUELCONSUMPTION_CITY,FUELCONSUMPTION_HWY,FUELCONSUMPTION_COMB,FUELCONSUMPTION_COMB_MPG,CO2EMISSIONS
0,2014,ACURA,ILX,COMPACT,2.0,4,AS5,Z,9.9,6.7,8.5,33,196
1,2014,ACURA,ILX,COMPACT,2.4,4,M6,Z,11.2,7.7,9.6,29,221
2,2014,ACURA,ILX HYBRID,COMPACT,1.5,4,AV7,Z,6.0,5.8,5.9,48,136
3,2014,ACURA,MDX 4WD,SUV - SMALL,3.5,6,AS6,Z,12.7,9.1,11.1,25,255
4,2014,ACURA,RDX AWD,SUV - SMALL,3.5,6,AS6,Z,12.1,8.7,10.6,27,244

In [4]:
from fastai.basics import *
from fastai.tabular.all import *

In [5]:
dep_var = "CO2EMISSIONS"
cont, cat = cont_cat_split(df, 1, dep_var=dep_var)
procs=[Categorify, FillMissing, Normalize]

In [22]:
dls = TabularDataLoaders.from_df(df, procs=procs, cat_names=cat, cont_names=cont, 
                                 y_names=dep_var, seed=42)

In [23]:
dls.show_batch()

In [14]:
doc(tabular_learner)

tabular_learner(dls, layers=None, emb_szs=None, config=None, n_out=None, y_range=None, loss_func=None, opt_func=<function Adam at 0x7f8b001f24d0>, lr=0.001, splitter=<function trainable_params at 0x7f8b0ef40cb0>, cbs=None, metrics=None, path=None, model_dir='models', wd=None, wd_bn_bias=False, train_bn=True, moms=(0.95, 0.85, 0.95))
Get a `Learner` using `dls`, with `metrics`, including a `TabularModel` created using the remaining params.

To get a prettier result with hyperlinks to source code and documentation, install nbdev: pip install nbdev

In [24]:
learn = tabular_learner(dls, metrics=rmse)
learn.fit_one_cycle(100)

In [25]:
learn.show_results()

# Task 2

Logistic Regression can be implemented with pytorch also ✅

[Check this link](https://towardsdatascience.com/logistic-regression-with-pytorch-3c8bbea594be)

In [36]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [28]:
crop = pd.read_csv("https://raw.githubusercontent.com/kurianbenoy/DataminingLab/master/Crop_recommendation.csv")

In [29]:
crop.head()

    N   P   K  temperature   humidity        ph    rainfall label
0  90  42  43    20.879744  82.002744  6.502985  202.935536  rice
1  85  58  41    21.770462  80.319644  7.038096  226.655537  rice
2  60  55  44    23.004459  82.320763  7.840207  263.964248  rice
3  74  35  40    26.491096  80.158363  6.980401  242.864034  rice
4  78  42  42    20.130175  81.604873  7.628473  262.717340  rice

In [30]:
crop["label"].value_counts()

rice           100
maize          100
jute           100
cotton         100
coconut        100
papaya         100
orange         100
apple          100
muskmelon      100
watermelon     100
grapes         100
mango          100
banana         100
pomegranate    100
lentil         100
blackgram      100
mungbean       100
mothbeans      100
pigeonpeas     100
kidneybeans    100
chickpea       100
coffee         100
Name: label, dtype: int64

In [33]:
inputs = crop.iloc[:, :-1]
inputs

        N   P   K  temperature   humidity        ph    rainfall
0      90  42  43    20.879744  82.002744  6.502985  202.935536
1      85  58  41    21.770462  80.319644  7.038096  226.655537
2      60  55  44    23.004459  82.320763  7.840207  263.964248
3      74  35  40    26.491096  80.158363  6.980401  242.864034
4      78  42  42    20.130175  81.604873  7.628473  262.717340
...   ...  ..  ..          ...        ...       ...         ...
2195  107  34  32    26.774637  66.413269  6.780064  177.774507
2196   99  15  27    27.417112  56.636362  6.086922  127.924610
2197  118  33  30    24.131797  67.225123  6.362608  173.322839
2198  117  32  34    26.272418  52.127394  6.758793  127.175293
2199  104  18  30    23.603016  60.396475  6.779833  140.937041

[2200 rows x 7 columns]

In [34]:
labels = crop.iloc[:, -1]

In [39]:
X_train, X_test, y_train, y_test = train_test_split(
 inputs, labels, test_size=0.2, random_state=42)

In [40]:
X_train.shape

(1760, 7)

In [43]:
import torch

In [46]:
class LogisticRegression(torch.nn.Module):
      def __init__(self, input_dim, output_dim):
         super(LogisticRegression, self).__init__()
         self.linear = torch.nn.Linear(input_dim, output_dim)         
      def forward(self, x):
         outputs = torch.sigmoid(self.linear(x))
         return outputs